<section class="w-full h-screen relative text-white bg-[#0ca7a5]">
  <article
    class="w-2/5 h-full relative z-0 flex flex-col justify-center items-center"
  >
    <h2 class="-left-4 mb-12 relative font-title text-5xl font-extrabold">
      BARBEARIA
      <span
        class="absolute top-[30px] left-[114px] -rotate-2.5 text-[3.6rem] font-logo text-primary shadow-logo"
        >Dourado's</span
      >
    </h2>
    <p
      class="w-full max-h-[75vh] h-auto block pt-5 px-5 pb-20 relative font-body text-lg text-justify tracking-widest bg-[#0c88b2]"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora fugit
      assumenda esse quos vel non ex fugiat aspernatur, adipisci praesentium
      omnis maxime quae sit inventore cum perspiciatis blanditiis minus eveniet.
      <a
        class="w-48 h-10 absolute bottom-5 flex justify-center items-center translate-center-x font-body text-xl no-underline bg-black"
        type="button"
        >SAIBA MAIS</a
      >
    </p>
  </article>
</section>
