<div class="w-full absolute flex justify-center font-title">
  <nav class="relative max-w-screen-xl w-full pt-16 flex justify-evenly">
    <a
      class="z-10 h-4 text-white hover:text-primary transition-colors duration-500"
      routerLink="midias"
      routerDirection="forward"
      >MÍDIAS</a
    >
    <a
      class="z-10 h-4 text-white hover:text-primary transition-colors duration-500"
      routerLink="a-barbearia"
      routerDirection="forward"
      >A BARBEARIA</a
    >
    <a class="-mt-12 justify-self-center" routerLink="home" routerDirection="forward">
      <div class="max-h-32 w-auto relative">
        <img
          class="h-full w-full absolute z-10"
          src="../../assets/faded_logo.svg"
          alt="Botão Home"
        />
        <img
          class="max-h-32 w-full hover:opacity-0 transition-opacity duration-700 relative z-20"
          src="../../assets/not_faded_logo.svg"
          alt="Logo Barbearia Dourados"
        />
      </div>
    </a>
    <a
      class="z-10 h-4 text-white hover:text-primary transition-colors duration-500"
      routerLink="servicos"
      routerDirection="forward"
      >SERVIÇOS</a
    >
    <a
      class="z-10 h-4 text-white hover:text-primary transition-colors duration-500"
      routerLink="contato"
      routerDirection="forward"
      >CONTATO</a
    >
  </nav>

  <div
    class="absolute bottom-0 z-0 w-full h-full bg-gradient-to-b from-black via-black to-transparent"
  >
  </div>
</div>
