<section class="h-screen relative flex justify-center items-end">
  <img
    class="absolute bottom-0 -z-10"
    src="../../../assets/banner01.jpg"
    alt="Banner um"
  />

  <div class="relative">
    <img
      class="w-24 h-auto relative z-10 mb-10 animate"
      src="../../../assets/arrow_down.svg"
      alt="Seta para baixo"
    />
    <div
      class="w-80 h-60 absolute z-0 bottom-0 radial-gradient translate-center-x"
    ></div>
  </div>

  <div
    class="w-full h-20 absolute bg-gradient-to-t from-black to-transparent"
  ></div>
</section>
