<section
  class="w-full h-screen relative z-0 flex justify-center bg-black text-white overflow-hidden"
>
  <article class="max-w-screen-xl w-full relative z-10 flex items-center">
    <div
      class="h-full w-2/4 flex flex-col items-center justify-around p-20 pb-8"
    >
      <div
        class="self-start font-title text-4xl font-extrabold uppercase tracking-wide"
      >
        <h2>
          Agende <span class="typed-text text-primary">seu corte</span
          ><span class="cursor">&nbsp;</span>
        </h2>
        <h2>Através do nosso app</h2>
      </div>
      <p class="w-full h-fit font-body text-2xl tracking-wider text-justify">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos
        quibusdam consectetur voluptate aliquam nulla molestias necessitatibus
        beatae assumenda dolor quidem eum eaque explicabo, aut sint pariatur eos
        sapiente ipsum. Est!
      </p>
      <a>
        <img
          class="w-48 h-auto"
          src="../../../assets/google-play-badge.png"
          alt="Baixe o nosso aplicativo na Play Store!"
        />
      </a>
    </div>

    <div class="h-full w-2/4 flex justify-center items-center">
      <img
        src="../../../assets/app-mockup.png"
        alt="Acesse o aplicativo da Barbearia Dourados!"
      />
    </div>
  </article>
  <img
    class="w-[1000px] h-[721px] absolute z-0 top-[10%] left-[50%]"
    src="../../../assets/little-gballs-background.svg"
    alt="Background de seção"
  />
</section>
